* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color--green {
  color: green;
}

#assignment-instructions {
  font-family: sans-serif;
  color: #666;
}

code {
  font-family: monospace;
  color: red;
}

li + li {
  background: #000;
  color: #fff;
}

ol > li {
  background: #000;
  color: #fff;
}