main {
  padding-top: 2rem;
}

.background {
  background: url(../images/plans-background.jpg) center/cover;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.plan {
  border: 4px solid #0e4f1f;
  border-left: none;
  width: 80%;
  background: #d5ffdc;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.plan:hover,
.plan:active {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.plan--free {
  background: #e8f7eb;
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

.plan--premium {
  background: #0e4f1f;
}

.plan--premium .plan__heading {
  color: #fff;
}

.plan--premium .plan__secondary-heading {
  color: #cecece;
}

.plan a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.plan__badge {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  font-size: .75rem;
  color: #fff;
  background: #ff5454;
  padding: .5rem;
  z-index: 0;
  -webkit-transform: rotateZ(45deg) translateX(3.5rem) translateY(-1em);
      -ms-transform: rotate(45deg) translateX(3.5rem) translateY(-1em);
          transform: rotateZ(45deg) translateX(3.5rem) translateY(-1em);
  width: 12rem;
  text-align: center;
}

.plan__heading {
  font-size: 1.25rem;
  color: #000;
  font-weight: 700;
}

.plan__secondary-heading {
  font-size: 1.125rem;
  color: #858585;
}

.plan__description {
  padding: 1rem;
  background: #fff;
  border: 1px solid #0e4f1f;
  color: #0e4f1f;
  font-size: 1.25rem;
}

.clearfix {
  clear: both;
}

@media (min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1500px) {
  .plan {
    border-left: 4px solid #0e4f1f;
  }

  .plan--free {
    border-right: 4px solid #0e4f1f;
  }

  .plan:hover,
  .plan:active {
    border-right-color: #ff5454;
  }
}

@-webkit-keyframes push-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  } 100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes push-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  } 100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes push-down {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  } 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes push-down {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  } 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}