body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

div {
  border: 5px solid #666;
  border-radius: 20px;
  padding: 10px 8px 3px 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
}

div:first-of-type {
  height: 300px;
  width: 50%;
}

div:nth-of-type(2):hover {
  background: orangered;
  color: #666;
}