main {
  padding-top: 2.5rem;
}

.testimonial {
  font-size: 1.2em;
}

/* .testimonial__list {
  width: 80%;
  margin: auto;
} */


.testimonial__image-container {
  width: 60%;
  max-width: 40rem;
  -webkit-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, .3);
          box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, .3);
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  overflow: hidden;
  margin: 0 auto;
}

.testimonial__image {
  width: 100%;
  vertical-align: top;
  -webkit-transform: skew(-20deg) scale(1.5);
      -ms-transform: skew(-20deg) scale(1.5);
          transform: skew(-20deg) scale(1.5);
}

.testimonial__info {
  padding: .9rem;
}

#customer-1:hover .testimonial__image-container {
  -webkit-animation: flip-customer 1s ease-out forwards;
          animation: flip-customer 1s ease-out forwards;
}

#customer-2:hover .testimonial__image-container {
  -webkit-animation: flip-customer 1s ease-out forwards;
          animation: flip-customer 1s ease-out forwards;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  margin: 0.2rem;
  color: #ff5454;
  font-size: 2em;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.1rem;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: .2rem;
}

@media (min-width: 40rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .testimonial__image-container {
    width: 66%;
  }
  .testimonial__info {
    width: 30%
  }
}

@-webkit-keyframes flip-customer {
  0% {
    -webkit-transform: rotateY(0) skew(20deg);
            transform: rotateY(0) skew(20deg);
  }

  50% {
    -webkit-transform: rotateY(160deg) skew(20deg);
            transform: rotateY(160deg) skew(20deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) skew(20deg);
            transform: rotateY(360deg) skew(20deg);
  }
}

@keyframes flip-customer {
  0% {
    -webkit-transform: rotateY(0) skew(20deg);
            transform: rotateY(0) skew(20deg);
  }

  50% {
    -webkit-transform: rotateY(160deg) skew(20deg);
            transform: rotateY(160deg) skew(20deg);
  }

  100% {
    -webkit-transform: rotateY(360deg) skew(20deg);
            transform: rotateY(360deg) skew(20deg);
  }
}