#product-overview {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(90, 68, 18, 0.6)), to(transparent)),
  url(../images/freedom.jpg) center/cover no-repeat border-box,
  #ff1b68;
  background: -webkit-linear-gradient(bottom, rgba(90, 68, 18, 0.6) 10%, transparent),
  url(../images/freedom.jpg) center/cover no-repeat border-box,
  #ff1b68;
  background: -o-linear-gradient(bottom, rgba(90, 68, 18, 0.6) 10%, transparent),
  url(../images/freedom.jpg) center/cover no-repeat border-box,
  #ff1b68;
  background: linear-gradient(to top, rgba(90, 68, 18, 0.6) 10%, transparent),
  url(../images/freedom.jpg) center/cover no-repeat border-box,
  #ff1b68;
  /* background-image: linear-gradient(#dc3ea1, #333); */
  /* background-image: radial-gradient(circle farthest-side at 0 50%, #dc3ea1, #333); */
  width: 100%;
  height: 33vh;
  position: relative;
}


#product-overview h1 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  position: absolute;
  margin: 0;
  bottom: 10%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  } 

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: .5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: #fff;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5); */
}

.plan__annotation {
  background: #fff;
  padding: .5rem;
  color: #19b84c;
  -webkit-box-shadow: 0 6px 15px 0px rgba(0, 0, 0, .5);
          box-shadow: 0 6px 15px 0px rgba(0, 0, 0, .5);
  border-radius: 4px;
  font-size: 1rem;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: #fff;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: .5rem 0;
}

.plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    margin: .5rem;
    width: 30%;
    min-width: 12rem;
    max-width: 25rem;
    height: 28rem;
    z-index: 4;
  }

  .plan--highlighted {
    background: #19b84c;
    color: #fff;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    height: 30rem;
    z-index: 5;
  }  
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: #fff;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 40rem) {
  .key-feature {
    width: 30%;
    max-width: 25rem;
  }
  .key-feature__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }  
}


.key-feature__image {
  background: #ffcede;
  width: 8rem;
  height: 8rem;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 1.25rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #fff;
}

.modal {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
  opacity: 0;
  -webkit-transition: opacity 200ms, -webkit-transform 500ms;
  transition: opacity 200ms, -webkit-transform 500ms;
  -o-transition: opacity 200ms, transform 500ms;
  transition: opacity 200ms, transform 500ms;
  transition: opacity 200ms, transform 500ms, -webkit-transform 500ms;
  position: fixed;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}